{%extends 'base.html'%} {% load static %} {% block content %}

<img src="{% static "images/ST_Thomas_College_Thrissur.jpg" %}" alt="College Banner" style="height: 400PX; width: 100%"/>
<div>
  <h2>About <span>St. Thomas College, Ranni</span></h2>
  <p>
    The history of the college is embedded in the history of Ranni. The college
    is situated on the top of a serene hill, in a sylvan surrounding, away from
    the din and bustle of the city, easily accessible and is at a walkable
    distance from the heart of Ranni town. The college was established in 1964,
    as a junior college by St. Thomas Valiyapally Ranni, a pioneer parish of the
    Syrian Knanaya Arch Diocese of Malankara, with the whole hearted support of
    the then Bishop late lamented His Excellency Abraham Mor Clemis to meet the
    educational needs of the youth of the local community. The college was
    upgraded to a first grade college in 1968 and is the only institution for
    higher education in this part of the country. When the de-linking of Pre
    Degree sector was made possible by the government on administrative measures
    we were left with Graduate and Postgraduate courses. The transmutation lead
    this institution to a knowledge hub with diversified courses. In addition to
    the conventional courses, we now offer UG & PG courses in Tourism also.
    During its 60 years of illustrious existence, the college gave birth to
    brilliant academicians, administrators, politicians and entrepreneurs. The
    college aims at creating cultured and educated citizens who love God and
    their country. With its rural background and `Gurukula' atmosphere, the
    college fosters uninterrupted pursuit of knowledge. The first Principal,
    Late Prof. K. A. Mathew, served as minister and PSC member in the Kerala
    State. He played a vital role in upgrading the junior college to a First
    Grade one in 1968. As the Golden Jubilee project St. Thomas College of
    Advanced Studies, Edamury, Ranni, a Self Financing College affiliated to
    M.G. University, Kottayam was established in June 2014. In March 2016, the
    College was assessed and re-accredited in the second cycle by the National
    Assessment and Accreditation Council (NAAC) of UGC and graded at B level.
  </p>
</div>

<div>
  <h2>Institutional <span>Objectives</span></h2>
  <p>
    The College is owned and managed by the St.Thomas Valiyapally, Ranni, a
    parish church of The "Syrian Knanaya Arch Diocese" (a Christian minority
    community) to meet the cultural and educational needs of the soceity at
    large and of the said Christian minority community in particular. As our
    college inherits renowned cultural heritage and lustrous past, the College
    aims to foster academic excellence with social commitment through value
    based education. The college seeks to promote cultivation of knowledge
    through research and developing professional competence in an atmosphere of
    academic freedom. The objective of the college is to inculcate a sense of
    discipline, social responsibility and community service in the student
    community and to develop their leadership qualities and creativity and also
    to sensitise them of social, environmental and gender issues and to promote
    justice so as to contribute to the building of national and International
    harmony
  </p>
</div>
{% endblock %}
